/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */
main {
  height: 100vh;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
}

.heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  height: calc(100vh - 3.9rem);
  overflow: hidden;
  background-color:black;
  background-image: linear-gradient(to bottom, rgba(255,153,153,0) 0%,rgba(0, 0, 0, 0.5) 20%,rgb(0, 0, 0) 100%), url(https://carlos.emory.edu/sites/default/files/2020-05/Volute%20krater%20with%20Apollo%20and%20Athena.jpg);
  background-position:top center;
  background-size:100% auto;
  background-size: cover;
  scroll-snap-align:start;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction:column;
}

.margin{
  margin: 10px;
}
